#initials-container {
  display: flex;
  width: 100%;
  min-height: 100vh;

  aside {
    width: 45%;
    padding: clamp(2.5rem, 5vw, 9rem);
    flex-direction: column;
    background: #835afd;
    color: #f8f8f8;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.side {
  display: flex;
  justify-content: center;
}

#aside-content {
  max-width: 85rem;

  svg {
    width: 60%;
    height: 70%;
    margin-bottom: 10px;
  }

  h1 {
    font-size: clamp(2.8rem, 3.2vw, 5.6rem);
    margin-bottom: 16px;
  }
  p {
    opacity: 0.7;
    font-size: clamp(1.6rem, 2.2vw, 3.4rem);
  }
}

main {
  width: 55%;
  align-items: center;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.separator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 0;
  width: 100%;
  color: #a8a8b3;

  span {
    min-width: fit-content;
    margin: 0 15px;
    font-size: 1.8rem;
  }

  &::after,
  &::before {
    content: "";
    flex: 1;
    height: 1px;
    background: #a8a8b3;
  }
}

#main-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;

  > svg {
    width: 40%;
    margin-bottom: 56px;
  }

  h2 {
    font-size: clamp(2.6rem, 2vw, 3.4rem);
    margin-bottom: 24px;
  }

  > button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    background: #ea4335;
    padding: 0 16px;
    height: 50px;
    border-radius: 8px;
    color: #fefefe;
    font-weight: 500;
    font-size: 1.6rem;

    svg {
      margin-right: 8px;
    }
  }

  form {
    width: 100%;
  }

  span > a {
    color: #e559f9;
  }

  .return-page {
    color: #737380;
  }
}
