header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e2e2e2;
  padding: 20px 0;
  margin-bottom: 64px;
}

#header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.right-side {
  display: flex;

  > button {
    margin-left: 8px;
    min-width: 135px;
  }
}

.copy-room {
  display: flex;

  button {
    border: inherit;
    min-height: 0;
    border-radius: 8px 0 0 8px;
  }

  div {
    display: flex;
    padding: 12px 20px;
    align-items: center;
    border-radius: 0 8px 8px 0;
    border: 1px solid #835afd;

    span {
      width: max-content;
      font-weight: 500;
      font-size: clamp(1.4rem, 2.2vw, 1.7rem);
    }
  }
}
