.highlighted {
}

.hidden {
}

.question {
  padding: 24px;
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  color: #29292e;
  font-size: 1.6rem;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  margin-bottom: 8px;

  p {
    margin-bottom: 24px;
  }
}

.question-bottom {
  display: flex;
  justify-content: space-between;
  height: 30px;

  section {
    span {
      color: #737380;
      font-weight: 400;
    }
    margin: 0;
  }

  .question-actions {
    display: flex;

    button {
      &:is(#active) > svg * {
        stroke: #835afd;
      }

      min-height: 100%;
      margin-left: 12px;
    }
  }
}
